.PersonalContainer{
display: grid;
justify-content: center;
align-items: center;
}

.container{
    margin-left: -37em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PersonalDetails{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
    column-gap: 50%;
grid-template-columns: repeat(3,1fr);
}

.Govt{
    display: flex;
}