@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Comfortaa&family=Delicious+Handrawn&family=Krub&family=Poppins:wght@300&family=Varela+Round&display=swap");

body {
  font-family: "Krub", sans-serif;
  font-size: 17.5px;
  width: 60%;
 
 /* display: flex;
 justify-content: center;
 align-items: center; */
}

.errorMsg {
  max-width: 350px;
  color: #f21e08;
  padding: 2px 0;
  margin-top: 2px;
  font-size: 14px;
  font-weight: 300;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-control label {
  width: 20%;
  padding-right: 20px;
  margin-bottom: 5px;
}

/* .form-control input {
  width: 40%;
  padding: 5px;
} */

button {
  max-width: 150px;
  padding: 5px 10px;
}

@media screen and (max-width: 600px) {
  body {
    width: 90%;
  }

  .errorMsg {
    max-width: 100%;
  }

  .form-control {
    flex-direction: column;
  }

  .form-control input[type="text"],
  .form-control input[type="password"] {
    width: inherit;
  }
}
