.Personal{
    width: 160%;
    height: 180px ;
    margin: auto 58px;
}

.Contact{
    width: 160%;
    height: 140px ;
    margin: auto 58px;
}

.Address{
    width: 160%;
    height: 180px ;
    margin: auto 58px;
}